.ui-diff-changes {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;

  .ui-diff-changes-additions,
  .ui-diff-changes-deletions {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-none);
    letter-spacing: var(--letter-spacing-micro-wide);
    text-align: right;
  }

  .ui-diff-changes-additions {
    color: var(--v2-state-fg-success);
  }

  .ui-diff-changes-deletions {
    color: var(--v2-state-fg-danger);
  }
}
