@layer components {
  .v2-diff-changes {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;

    .v2-diff-changes-additions,
    .v2-diff-changes-deletions {
      font-size: var(--font-size-x-small);
      font-style: normal;
      font-weight: var(--font-weight-body);
      line-height: var(--line-height-none);
      letter-spacing: var(--letter-spacing-micro-wide);
      text-align: right;
    }

    .v2-diff-changes-additions {
      color: var(--v2-state-fg-success);
    }

    .v2-diff-changes-deletions {
      color: var(--v2-state-fg-danger);
    }
  }

}
